<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailSenderAddress>rsantos@triscal.com.br</emailSenderAddress>
    <emailSenderName>portaldevendas</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>true</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Vendas</label>
            <position>1</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Prospects</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Lead</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Negociações</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Opportunity</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Cotações</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Quote</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Biblioteca</label>
            <position>2</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/files</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Shoppings</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>TW1_Shopping__c</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Propriedades</label>
            <position>4</position>
            <publiclyAvailable>false</publiclyAvailable>
            <target>TW1_Propriedade__c</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Tabela de Comercialização</label>
            <position>5</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/tabela-de-comercializacao</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Informações Históricas</label>
            <position>6</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/informacoes-historicas</target>
            <type>InternalLink</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <profile>Admin</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>portaldevendas1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>portaldevendas</site>
    <status>DownForMaintenance</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>portaldevendas</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
